
<div xmlns:th="http://www.thymeleaf.org" th:fragment="menu" id="common_menu">
    <div class="menu">
        <ul>
            <li><a th:href="@{/}" class="common_menu">Home</a></li>
            <li><a th:href="@{/user}" class="common_menu">LIST</a></li>
            <li><a th:href="@{/user/new}" class="common_menu">NEW USER</a></li>
            <li>
                <a th:href="@{/logout}" class="common_menu">Log In</a>
                <a th:href="@{/logout}" class="common_menu">Log Out</a>
            </li>
        </ul>
    </div>
</div>

<div  xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <footer>
        <p>© Прокопович Анастасия</p>
        <p>nastua.tim.pro@gmail.com</p>
        <p>Минск, 2021</p>
    </footer>
</div>