
table {
    position: relative;
    margin-top: 8px;
    margin-left: 10%;
    margin-bottom: 100px;
    font-family: Century Gothic;
    font-size: 15px;
    text-align: center;
    width: 80%;
}

table th {
    background-color: rgb(80 80 80);
    padding: 15px 25px;
    color:white;
    font-size: 16px;
}

table td {
    padding: 5px 10px;
    font-weight: 600;
}

table a {
    text-decoration: none;
    color:rgb(40 40 40);
}

table a:hover{
    text-decoration: underline;
}

table a:visited{
    color:rgb(40 40 40);
}

#filter {
    position: relative;
    margin-top: 70px;
    margin-left: 10%;
    width: 80%;
    border:3px double rgb(120 120 120);
}

#filter p {
    display: inline-block;
    font-family: Century Gothic;
    font-size: 15px;
    margin-left:20px;
}
