<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div class="userList">
        <h1> List </h1>
        <table border="1">
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Role</th>
                <th>Status</th>
                <th>Created at</th>
            </tr>
            <tr th:each ="user : ${userList}">
                <td th:utext="${user.firstName} + ' ' + ${user.lastName}">...</td>
                <td th:utext="${user.username}">...</td>
                <td th:utext="${user.role}">...</td>
                <td th:utext="${user.status}">...</td>
                <td th:utext="${user.createdAt}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>